<strong>Olá, {{ name  }}</strong>
<p>Segue informações sobre sua solicitação:</p>
<p>
  <strong>Pergunta: </strong> {{ question}} <br />
</p>
<p>
  <strong>Resposta: </strong> {{ answer }} <br />
</p>
